<?xml version="1.0" encoding="utf-8"?>

<image schemaversion="6.5" name="cray-sles12sp3-barebones">
    <description type="system">
        <author>Cray Inc</author>
        <contact>sps@cray.com</contact>
        <specification>
            Barebones SLES12SP3 Recipe
        </specification>
    </description>
    <preferences>
        <version>1.0.0</version>
        <packagemanager>zypper</packagemanager>
        <locale>en_US</locale>
        <keytable>us</keytable>
        <timezone>US/Central</timezone>
        <rpm-excludedocs>true</rpm-excludedocs>
        <rpm-check-signatures>false</rpm-check-signatures>
    </preferences>
    <preferences>
        <type image="tbz" />
    </preferences>
    <users>
        <user password="$1$19M3sjOv$L9BY/LThxUseZabuUltXI." home="/root" name="root" groups="root"/>
    </users>
    <repository type="rpm-md" alias="SLES12SP3" imageinclude="true">
        <source path="http://slemaster.us.cray.com/SuSE/SLE-SERVER/12-SP3/x86_64/product/"/>
    </repository>
    <packages type="image">
        <package name="checkmedia"/>
        <package name="patterns-sles-base"/>
        <package name="iputils"/>
        <package name="vim"/>
        <package name="grub2"/>
        <package name="grub2-x86_64-efi" arch="x86_64"/>
        <package name="grub2-i386-pc"/>
        <package name="syslinux"/>
        <package name="lvm2"/>
        <package name="tar"/>
        <package name="parted"/>
        <package name="openssh"/>
        <package name="iproute2"/>
        <package name="less"/>
        <package name="dhcp-client"/>
        <package name="which"/>
        <package name="shim"/>
        <package name="kernel-default"/>
        <package name="timezone"/>
        <package name="net-tools"/>
        <package name="nfs-utils"/>
        <package name="rpm"/>
        <package name="zypper"/>
    </packages>
    <packages type="bootstrap">
        <package name="udev"/>
        <package name="filesystem"/>
        <package name="glibc-locale"/>
        <package name="cracklib-dict-full"/>
        <package name="ca-certificates"/>
        <package name="sles-release"/>
    </packages>
</image>
