<?xml version="1.0" encoding="utf-8"?>

<image schemaversion="6.8" name="cray-sles{{ env.SLES_VERSION }}{{ env.SLES_SP_LOWER }}-{{ env.SLES_ARCH }}-barebones">
    <description type="system">
        <author>Cray Inc</author>
        <contact>sps@cray.com</contact>
        <specification>
            Barebones SLES{{ env.SLES_VERSION }}{{ env.SLES_SP_LOWER }}-{{ env.SLES_ARCH }} Recipe
        </specification>
    </description>

    <profiles>
        <profile name="Live" description="Live image" import="true"/>
        <profile name="Virtual" description="Simple Disk image"/>
        <profile name="Disk" description="Expandable Disk image"/>
        <profile name="PXE" description="Example PXE Image"/>
    </profiles>

    <preferences profiles="Live">
        <type image="iso" flags="overlay" hybrid="true" firmware="efi" kernelcmdline="splash" hybridpersistent_filesystem="ext4" hybridpersistent="true"/>
    </preferences>
    <preferences profiles="Disk">
        <type image="oem" filesystem="ext4" initrd_system="dracut" bootloader="grub2" kernelcmdline="splash console=ttyS0 console=tty0 ignore_loglevel" firmware="efi">
            <oemconfig>
                <oem-systemsize>2048</oem-systemsize>
                <oem-swap>true</oem-swap>
                <oem-device-filter>/dev/ram</oem-device-filter>
                <oem-multipath-scan>false</oem-multipath-scan>
            </oemconfig>
            <machine memory="512" guestOS="suse" HWversion="4">
                <vmdisk id="0" controller="ide"/>
                <vmnic driver="e1000" interface="0" mode="bridged"/>
            </machine>
        </type>
    </preferences>
    <preferences profiles="Virtual">
        <type image="vmx" filesystem="ext4" bootloader="grub2" kernelcmdline="splash" firmware="efi"/>
    </preferences>
    <preferences profiles="PXE">
        <type image="pxe" filesystem="squashfs" boot="netboot/suse-SLES15"/>
    </preferences>
    <preferences>
        <type image="squashfs" primary="true"/>
        <type image="tbz"/>
        <version>CRAY.VERSION.HERE</version>
        <packagemanager>zypper</packagemanager>
        <locale>en_US</locale>
        <keytable>us</keytable>
        <timezone>US/Central</timezone>
        <rpm-excludedocs>true</rpm-excludedocs>
        <rpm-check-signatures>false</rpm-check-signatures>
        <bootsplash-theme>SLE</bootsplash-theme>
        <bootloader-theme>SLE</bootloader-theme>
    </preferences>
    <users>
        <user password="$1$3q2018$sPjSV98xEd0Nui0JGQXFh." home="/root" name="root" groups="root"/>
    </users>

    <!--
    Repositories are added dynamically based on if the build is being done in the
    pipeline (CJE) or on the Shasta system (Shasta)
    -->
    {% for repo in repos %}
        <!-- {{ repo['details'] }} -->
        <repository type="rpm-md" alias="{{ repo['alias'] }}" priority="{{ repo['priority'] }}" imageinclude="{{ repo['imageinclude'] }}">
            <source path="{{ repo['path'] }}"/>
        </repository>
    {% endfor %}

    <packages type="image">
        <package name="at"/>
        <package name="bash"/>
        <package name="bash-completion"/>
        <package name="bc"/>
        <package name="bind-utils"/>
        <package name="binutils"/>
        <package name="biosdevname" arch="x86_64"/>
        <package name="checkmedia"/>
        <package name="cron"/>
        <package name="chrony"/>
        <package name="cryptsetup"/>
        <package name="cmake"/>
        <package name="cpupower"/>
        <package name="curl"/>
        <package name="device-mapper"/>
        <package name="dhcp-client"/>
        <package name="dmidecode"/>
        <package name="dosfstools"/>
        <package name="dump"/>
        <package name="e2fsprogs"/>
        <package name="ebtables"/>
        <package name="elfutils-lang"/>
        <package name="elfutils"/>
        <package name="ethtool"/>
        <package name="expect"/>
        <package name="file"/>
        <package name="filesystem"/>
        <package name="fping"/>
        <package name="fuse"/>
        <package name="fontconfig"/>
        <package name="fonts-config"/>
        <package name="grub2"/>
        <package name="grub2-branding-SLE"/>
        <package name="grub2-arm64-efi" arch="aarch64"/>
        <package name="grub2-x86_64-efi" arch="x86_64"/>
        <package name="grub2-i386-pc" arch="x86_64"/>
        <package name="hdparm"/>
        <package name="hwloc"/>
        <package name="iproute2"/>
        <package name="iputils"/>
        <package name="kernel-default"/>
        <package name="ledmon"/>
        <package name="less"/>
        <package name="libasm1"/>
        <package name="lshw" arch="x86_64"/>
        <package name="lvm2"/>
        <package name="mdadm"/>
        <package name="mtools"/>
        <package name="nvme-cli"/>
        <package name="openscap"/>
        <package name="openscap-utils"/>
        <package name="openssh"/>
        <package name="parted"/>
        <package name="pciutils"/>
        <package name="pixz"/>
        <package name="rsync"/>
        <package name="shim"/>
        <package name="squashfs"/>
        <package name="tar"/>
        <package name="tcpdump"/>
        <package name="timezone"/>
        <package name="tpm2.0-abrmd"/>
        <package name="tpm2.0-tools"/>
        <package name="traceroute"/>
        <package name="vim"/>
        <package name="which"/>
        <package name="xfsprogs"/>
        <package name="xorriso"/>
    </packages>
    <packages type="bootstrap">
        <package name="procps"/>
        <package name="udev"/>
        <package name="filesystem"/>
        <package name="glibc-locale"/>
        <package name="cracklib-dict-full"/>
        <package name="ca-certificates"/>
        <package name="ca-certificates-mozilla"/>
        <package name="sles-release"/>
    </packages>
</image>
